:root {
  font-family: 'Nunito Sans', sans-serif;
  ;

  /*  COLORS*/

  --Dark-Blue: hsl(209, 23%, 22%);
  /* (Dark Mode Elements)*/
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  /*(Dark Mode Background)*/
  --Very-Dark-Blue: hsl(200, 15%, 8%);
  /*(Light Mode Text)*/
  --Dark-Gray: hsl(0, 0%, 52%);
  /*(Light Mode Input)*/
  --Very-Light-Gray: hsl(0, 0%, 98%);
  /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%);
  /*(Dark Mode Text & Light Mode Elements)*/

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }
}

.dark-mode {
  background-color: var(--Dark-Blue);
  color: white;

  input {
    color: white;
  }

}

.dark-mode-body {
  background-color: var(--Very-Dark-Blue);
  color: white;
}

.dark-mode-card {
  background-color: var(--Very-Dark-Blue)
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}